* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: lightslategrey;
}

.pathfindingVisualizer {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    display:flex;
    flex-direction: column;
}

.functions{
    height: 20%;
    width: 100%;
    text-align: center;
}

.functions > h1{
    font-family: monospace;
    font-size: 48px;
}

.functions > button{
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    border-radius: 50%;
    background-color: rgb(202, 142, 51);
    width: 100px;
    height: 40px;
}

.grid-container{
    height: 80%;
    width: 100%;
    position: absolute;
    top: 20%;
}

.grid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.row{
    width: 100%;
    height: 10%;
    display:flex;
}

.node{
    outline: 1px solid rgb(175, 216, 248);
    height: 100%;
    width: 100%;
    display:inline-block;
}

.node:hover:not(.node-start):not(.node-finish):not([isWall$="true"]){
    animation-name: hoverAnimation;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes hoverAnimation {
    0% {
        background-color: rgb(202, 142, 51);
        transform: scale(.7);
        border-radius: 100%;
        outline: 1px solid rgb(175, 216, 248);
    }
    25% {
        background-color: rgb(202, 142, 51);
        outline: 1px solid rgb(175, 216, 248);
    }
    50% {
        background-color: rgb(202, 142, 51);
        transform: scale(1.2);
        outline: 1px solid rgb(175, 216, 248);
    }
    100%{
        background-color: rgb(202, 142, 51);
        transform: scale(1);
        outline: 1px solid rgb(175, 216, 248);
    }

}

.isWall {
    background-color: rgb(202, 142, 51);
}

.node-start {
    background-color: green;
}

.node-finish {
    background-color: red;
}
